/**
 * Stylize examples created by typ/show-example.typ.
 */

.example {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;

  > * {
    flex: auto;
  }

  > pre {
    overflow-x: auto;
  }

  > .preview {
    border-radius: 8px;
    /* Copied from typst.app/docs `.preview` */
    align-items: center;
    background: #e4e5ea;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    padding: 12px 16px;

    > svg.typst-frame {
      /* The visual padding is the sum of CSS padding and SVG inset. See `render-examples` in show-example.typ */
      padding: 0.5em;
      border-radius: 8px;
      /* Copied from typst.app/docs `.preview > *` */
      background: #fff;
      box-shadow: 0 4px 12px rgba(89, 85, 101, 0.2);
      height: auto;
      max-height: 100%;
      max-width: 100%;
      width: auto;
    }
  }
}
.dark .example > .preview {
  background: darkgray;

  > svg.typst-frame {
    background: lightgray;
  }
}

/* Load data attrs reserved by `reserve-text-fill` */
.example [data-fill] {
  color: var(--data-fill);
}
.dark .example {
  /**
   * Check all possible colors by executing the following in the browser console:
   *   [...new Set($$("[data-fill]").map((e) => e.dataset.fill))].sort()
   * Then improve the contrast ratio:
   *   https://webaim.org/resources/contrastchecker/?bcolor=212737
   */
  [data-fill="#1d6c76"] {
    color: #36bfce;
  }
  [data-fill="#298e0d"] {
    color: #38be13;
  }
  [data-fill="#4b69c6"] {
    color: #92a5dd;
  }
  [data-fill="#818181"] {
    color: #ababab;
  }
  [data-fill="#8b41b1"] {
    color: #c497d8;
  }
  [data-fill="#b60157"] {
    color: #fe90c7;
  }
  [data-fill="#d73a49"] {
    color: #e5858d;
  }
}
