name: Check

on:
  # Sync this with `./autofix.yml`
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - uses: actions/setup-node@v5
        with:
          node-version: 22
          cache: pnpm
      - uses: typst-community/setup-typst@v4
        with:
          typst-version: v0.14.0
      - name: Restore cached fonts
        uses: actions/cache@v4
        id: cache
        with:
          path: |
            fonts/
          key: fonts-${{ hashFiles('scripts/download_fonts.sh') }}
          restore-keys: |
            fonts-${{ hashFiles('scripts/download_fonts.sh') }}
            fonts-
      - uses: taiki-e/install-action@v2
        if: steps.cache.outputs.cache-hit != 'true'
        with:
          tool: ripgrep
      - name: Install fonts
        shell: bash
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          bash scripts/download_fonts.sh
      - run: pnpm install
      - run: pnpm build
      - uses: actions/upload-artifact@v5
        with:
          name: dist
          path: "./dist"
  check-issues:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - uses: actions/setup-node@v5
        with:
          node-version: 22
          cache: pnpm
      - uses: typst-community/setup-typst@v4
        with:
          typst-version: v0.14.0
      - run: pnpm install
      - run: |
          pnpm check-issues
        env:
          GH_TOKEN: ${{ github.token }}
